@import url("https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@600&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Gothic+A1:wght@300&family=Oswald:wght@600&family=Roboto:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overscroll-behavior: none;
  overflow-x: hidden;
  box-sizing: content-box;
  margin: 0;

  height: 100vh;
  background-color: #e1dfdd;
}

@media (max-width: 900px) {
  .mobile {
    display: flex;
    flex-direction: column;
  }
  .selfIntroduction {
    min-width: 400px;
    width: 400px;
    margin-top: 10px;
    font-size: 13px;
    margin-right: 0;
  }
  .selfIntroduction .mt-2 {
    margin-top: 0;
  }

  .largeTitle {
    font-size: 40px;
  }

  .image {
    width: 400px;
  }
  .name {
    margin-top: 15px;
  }

  .nav {
    padding: 0;
  }
  .navItem {
    padding: 0 10px 0 10px;
  }

  .nav button {
    font-size: 15px;
  }

  .project {
    margin-left: 30px;
    margin-bottom: 0;
    width: 400px;
  }

  .projectTitle {
    font-size: 40px;
  }

  .browserDisplay {
    display: none;
  }

  .seeMore {
    font-size: 15px;
  }

  .positionTitle {
    font-size: 18px;
  }
  .skill {
    font-size: 15px;
  }
  .skillDescription {
    font-size: 13px;
  }

  .contactName {
    font-size: 55px;
  }
}
